<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <script>
        $(document).ready(function () {
            getMemberId();
        });
    </script>

    <div id="top" class="container text-center">
        <div class="row">
            <div class="col-2"><a href="/index">AccountBook</a></div>
            <div class="col-8">지출 입력하기</div>
            <div class="col-2"><button class="btn btn-light" id="my-page" onclick="redirectMemberId('/my-page/');">마이페이지</button></div>
        </div>
    </div>

    <div id="middle1" class="container text-center" style="padding-top:50px;">
        <div class="row">
            <div class="col-6">금액<input id="paid-amount" placeholder="금액을 입력하세요"></div>
            <div class="col-6">
                카테고리
                <button class="btn btn-light" type="button" id="category-radio" data-bs-toggle="modal" data-bs-target="#categoryModal" onclick="getCategoryList();">카테고리를 선택하세요</button>
            </div>
        </div>
    </div>

    <div id="middle2" class="container text-center" style="padding-top:50px;">
        <div class="row">
            <div class="col-6">거래처<input id="pay-location" placeholder="거래처를 입력하세요"></div>
            <div class="col-6">결제 수단<input id="method-payment" placeholder="결제 수단을 입력하세요"></div>
        </div>
    </div>

    <div id="middle3" class="container text-center" style="padding-top:50px;">
        <div class="row">
            <div class="col-6">메모<input id="memo" placeholder="메모를 입력하세요"></div>
            <div class="col-6">날짜
                <select id="date-select" class="form-select" aria-label="날짜를 선택하세요" onclick="getDate();">
                </select>
            </div>
        </div>
    </div>

    <div id="middle4" class="container text-center" style="padding-top:50px;">
        <button class="btn btn-success" type="button" id="create-dailypayment" onclick="createDailyPayments();">저장하기</button>
    </div>

    <!--카테고리 리스트 모달-->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">카테고리 선택하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-target="#createCategoryModal" data-bs-toggle="modal" data-bs-dismiss="modal">카테고리 추가</button>
                    <button type="button" class="btn btn-success" onclick="selectCategory();">선택</button>
                </div>
            </div>
        </div>
    </div>

    <!--카테고리 추가 모달-->
    <div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCategoryModalLabel">카테고리 추가하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    카테고리를 입력하세요
                    <input id="category-name" placeholder="ex) 식비">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" onclick="createCategory();" data-bs-target="#categoryModal" data-bs-toggle="modal" data-bs-dismiss="modal">완료</button>
                </div>
            </div>
        </div>
    </div>

    <!--카테고리 수정 모달-->
    <div class="modal fade" id="modifyCategoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyCategoryModalLabel">카테고리 수정하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    카테고리 이름을 입력하세요
                    <input type="text" class="edit-category" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteCategory();" data-bs-target="#categoryModal" data-bs-toggle="modal" data-bs-dismiss="modal">삭제</button>
                    <button type="button" class="btn btn-success" onclick="modifyCategory();" data-bs-target="#categoryModal" data-bs-toggle="modal" data-bs-dismiss="modal">완료</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
