<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/event-stream; charset=utf-8"/>
    <title>AccountBook Main Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">AccountBook</h1>
        <div>
            <a class="join-us" href="/v1/signup">Join Us!</a>
            <a role="button" href="/v1/login" >Login</a>
        </div>
    </div>
</nav>

</body>
</html>
