<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<script>
    $(document).ready(function () {
        getMemberId();
    });
</script>

<div id="top" class="container text-center">
    <div class="row">
        <div class="col-2"><a href="/index">AccountBook</a></div>
        <div class="col-8">My AccountBook</div>
        <div class="col-2"><button class="btn btn-light" id="my-page" onclick="redirectMemberId('/my-page/');">마이페이지</button></div>
    </div>
</div>

<div id="middle" class="container text-center" style="padding-top:50px;">
    <div class="row">
        <div class="col align-self-start">
            <div class="row">
                <div class="col-auto"><button class="btn btn-light nav-btn-prev" onclick="goPrev();"><</button></div>
                <div id="year-month" class="col-auto"></div>
                <div class="col-auto"><button class="btn btn-light nav-btn-next" onclick="goNext();">></button></div>
            </div>
        </div>
            <div class="col align-self-end"><button type="button" class="btn btn-success" id="budgetToastBtn" onclick="getAlarm();">예산 알림 받기</button></div>
    </div>
</div>

<div class="calendar">
    <div class="days">
        <div class="day">MON</div>
        <div class="day">TUE</div>
        <div class="day">WED</div>
        <div class="day">THU</div>
        <div class="day">FRI</div>
        <div class="day">SAT</div>
        <div class="day">SUN</div>
    </div>
    <div class="dates"></div>
</div>

<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dateModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='/expenditure'">+ 지출 입력하기</button>
            </div>
        </div>
    </div>
</div>

<!--예산 알림 토스트-->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="budgetToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>

</body>
<script>

    var stompClient = null;
    var memberNumber = window.location.pathname.split('/')[2]; // 웹소켓 전용 회원id, 식별을 위해 number로 명명
    var currentYear = ''; // 현재 페이지에 있는 연도
    var currentMonth = ''; // 현재 페이지에 있는 월
    var currentDate = ''; // 현재 페이지에 있는 일
    var thisMonth = ''; // 실제 이번달, 알림 제목용, 불변
    $(document).ready(function() {
        // 한국 표준시간 가져오기
        var date = new Date();
        var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000);
        var kstGap = 9 * 60 * 60 * 1000;
        var today = new Date(utc + kstGap);
        var koreaDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());

        // 연, 월, 일 가져오기
        currentYear = koreaDate.getFullYear();
        currentMonth = koreaDate.getMonth() + 1;
        thisMonth = koreaDate.getMonth() + 1;
        currentDate = koreaDate.getDate();

        // 페이지 로딩 초기에 달력 가져오기
        renderCalendar(currentYear, currentMonth, currentDate);

        // 웹소켓 연결하기
        connectWebSocket(memberNumber);
    });

    function renderCalendar(currentYear, currentMonth, currentDate) {
        $('#year-month').text(currentYear + '.' + zeroFormat(currentMonth));

        // 지난달 마지막 날짜, 요일 구하기
        var startDay = new Date(currentYear, currentMonth - 1, 0);
        var prevDate = startDay.getDate();
        var prevDay = startDay.getDay();

        // 이번 달의 마지막 날짜, 요일 구하기
        var endDay = new Date(currentYear, currentMonth, 0);
        var nextDate = endDay.getDate();
        var nextDay = endDay.getDay();

        calendar = document.querySelector('.dates')
        calendar.innerHTML = '';

        for (var i = prevDate - prevDay + 1; i <= prevDate; i++) {
            calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable"></div>'
        }

        for (var i = 1; i <= nextDate; i++) {
            calendar.innerHTML = calendar.innerHTML + '<button type="button" id=' + i + ' class="day current btn-light" data-bs-toggle="modal" data-bs-target="#dateModal" onclick="modal(this.id);">' + i + '</button> ';
        }
    }

    function connectWebSocket(memberNumber) {
        const socket = new SockJS('http://localhost:8080/ws-stomp');
        stompClient = Stomp.over(socket);
        var accessToken = document.cookie.split('access_token=')[1];
        stompClient.connect({"token" : accessToken},
                             function (frame) {
                                 stompClient.subscribe('/sub/' + memberNumber, function (response) {

                                 document.querySelector('.me-auto').innerHTML = thisMonth + "월 예산알림";
                                 document.querySelector('.toast-body').innerHTML = JSON.parse(response.body).message;
                                 $('.toast').toast('show');
                             });
                        });
    }

    function goPrev() {
        currentMonth -= 1
        if (currentMonth == 0) {
            currentYear -= 1;
            currentMonth = 12;
        }
        renderCalendar(currentYear, currentMonth, 1);
    }

    function goNext() {
        currentMonth += 1
        if (currentMonth == 13) {
            currentYear += 1;
            currentMonth = 1;
        }
        renderCalendar(currentYear, currentMonth, 1);
    }

    var paymentsCheck = 0;
    var dateCheck = '';
    function modal(clickedId) {
        // 모달 헤더 가지고 온 뒤 날짜 동적으로 텍스트 변경하기
        var dateModalLabel = document.getElementById('dateModalLabel');
        var month = zeroFormat(currentMonth);
        var day = zeroFormat(clickedId);
        dateModalLabel.innerHTML = month + '월 ' + day + '일 지출내역';

        // 클릭한 날짜로 요청 메시지 보내기, 응답 받은 걸로 modal-body 변경하기
        var requestDate = currentYear + '-' + month + '-' + day;
        $.ajax({
            url : `/v1/daily-payments/list/` + requestDate,
            type : 'get',
            contentType : 'application/json; charset=utf-8;',
            dataType : 'json',
            success : function(response) {
                var data = response.data;

                modalContent = document.querySelector('.modal-body');
                modalContent.innerHTML = ``; // 모달 바디 초기화
                var content = `<ul> `;
                for(var i = 0; i < data.length; i++) {
                    var each = data[i];
                    var paymentId = each.dailyPaymentId;
                    var paidAmount = each.paidAmount;
                    var payLocation = each.payLocation;
                    var methodOfPayment = each.methodOfPayment;
                    var categoryId = each.categoryId;
                    var categoryName = each.categoryName;
                    var memo = each.memo;
                    content += `<li id="` + paymentId + `">` +
                                 paidAmount +`|`+ payLocation + `|` + methodOfPayment + `|` + categoryName + `|` + memo + '                  ' +
                                 `<button class="btn btn-success btn-payment" id="`+ paymentId + `" onclick="modifyDailyPayments(this.id);">수정</button></li> `;
                }
                modalContent.innerHTML += (content + `</ul>`);
            },
            error : function(request, status, error) {
                alert(JSON.parse(request.responseText).message);
            }
        })
    }

    function modifyDailyPayments(paymentId) {
        location.replace("http://localhost:8080/expenditure/" + paymentId);
    }

    function getAlarm() {
        stompClient.send("/app/v1/budget/alarm/" + memberNumber, {}, {});
    }

    function zeroFormat(value) {
        if (value / 10 < 1) {
            return '0' + value;
        } else {
            return value;
        }
    }
</script>
</th:block>
</html>
