<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

  <script>
    $(document).ready(function () {
      getMemberId();
    });
  </script>

  <div id="top" class="container text-center mb-5">
    <div class="row">
      <div class="col-2"><a href="/index">AccountBook</a></div>
      <div class="col-8">My Page</div>
      <div class="col-2"> </div>
    </div>
  </div>


  <div id="middle" class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="mt-5 mb-5 col-5">
          <div style="text-align:left; display:flex">
            <div style="margin-right: 8%">MemberName</div>
            <input id="memberName" type="text" style="width: 100%;" th:value="${member.memberName}">
          </div>
        </div>
    </div>

    <div class="row justify-content-center">
      <div id="emailButton" class="mt-5 mb-5 col-5">
        <div style="text-align:left; display:flex">
          <div style="margin-right: 20%;">Email</div>
          <input id="email" type="text" style="width: 100%;" th:value="${member.email}" disabled>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="mt-5 mb-5 col-5">
        <div style="display:flex">
          <div style="margin-right: 17%;">Budget</div>
          <input id="monthlyBudget" type="text" style="width: 100%;" th:value="${member.monthlyBudget}">
        </div>
      </div>
    </div>

    <div id="bottom" class="container text-center mt-5">
      <div class="row justify-content-center">
        <div class="mt-3 col-3">
          <button type="button" class="btn btn-success" onclick="modifyMemberInfo();">회원 정보 수정</button>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="mt-3 col-3" style="text-align: right">
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modifyPassword">비밀번호 수정</button>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#disableMember">회원 탈퇴</button>
        </div>
      </div>
  </div>


  <div class="modal fade" id="disableMember" tabindex="-1" aria-labelledby="disableMemberLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disableMemberLabel">회원 탈퇴</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>회원 탈퇴 시 이전의 모든 회원 정보에 접근할 수 없습니다. </br> 그래도 탈퇴를 원하시면 아래 '회원 탈퇴' 버튼을 클릭하세요.</br>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="disableMember();">탈퇴하기</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modifyPassword" tabindex="-1" aria-labelledby="modifyPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyPasswordLabel">비밀번호 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
          <div style="text-align: left"><label for="beforePassword" class="form-label">이전 비밀번호</label></div>
          <div class="input-group">
            <input id="beforePassword" type="password" class="form-control" placeholder="이전 비밀번호를 입력하세요">
          </div>
          <div style="text-align: left"><label for="afterPassword" class="form-label">변경할 비밀번호</label></div>
          <div class="input-group">
            <input id="afterPassword" type="password" class="form-control" placeholder="변경할 비밀번호를 입력하세요">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="modifyPassword();">비밀번호 수정</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>