<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="row container-fluid">
            <div class="col-4 text-center">
                <a href="/index"><h6>AccountBook</h6></a>
            </div>
            <div class="col-4 text-center">
                <h5>Join Us!</h5>
            </div>
            <div class="col-4 text-center">
                <a href="/my-page"><h6>마이 페이지</h6></a>
            </div>

        </div>
    </nav>

    <div class="container text-center">
        <div class="row justify-content-lg-center">
            <div class="mt-5 mb-5 col-5">
                <div style="text-align:left"><label for="memberName" class="form-label">MemberName</label></div>
                <div class="input-group">
                    <input id="memberName" type="text" class="form-control" placeholder="회원 이름을 입력하세요">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="emailButton" class="mt-5 mb-5 col-5">
                <div style="text-align:left"><label for="email" class="form-label">Email</label></div>
                <div class="input-group">
                    <input id="email" type="text" class="form-control" placeholder="이메일을 입력하세요">
                    <button type="button" class="btn btn-success" onclick="sendAuthEmail();">이메일 인증</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="mt-5 mb-5 col-5">
                <div style="text-align: left"><label for="password" class="form-label">Password</label></div>
                <div class="input-group">
                    <input id="password" type="password" class="form-control" placeholder="비밀번호를 입력하세요">
                </div>
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="mt-3 col-3">
            <button type="button" class="btn btn-success" onclick="signUp();">회원가입</button>
            </div>
        </div>
    </div>

    <script>
        var count = 0;

        function sendAuthEmail() {
            var email = $('#email').val();
            const params = {
                'email' : email
            }

            $.ajax({
                url : `/v1/auth/email/send`,
                type : 'post',
                contentType : 'application/json; charset=utf-8;',
                dataType : 'json',
                data : JSON.stringify(params),
                success : function(response) {
                    alert('인증 이메일이 전송되었습니다.');
                },
                error : function(request, status, error) {
                    alert(JSON.parse(request.responseText).message);
                }
            })

            if (count == 0) {
                const emailButton = document.getElementById('emailButton');
                const newP = document.createElement('p');
                newP.innerHTML = "<br> <label for='authKey' class='form-label'>인증번호 입력</label> <div class='input-group'> <input id='authKey' type='text' class='form-control' placeholder='인증번호를 입력하세요'> <button type='button' class='btn btn-success' onclick='completeAuthEmail();'>인증</button> </div>";
                emailButton.appendChild(newP);

                count++;
            }
        }

        function completeAuthEmail() {
            var email = $('#email').val();
            var authKey = $('#authKey').val();
            const params = {
                'email' : email,
                'authKey' : authKey
            }

            $.ajax({
                url : `/v1/auth/email/complete`,
                type : 'post',
                contentType : 'application/json; charset=utf-8;',
                dataType : 'json',
                data : JSON.stringify(params),
                success : function(response) {
                    alert('인증이 완료 되었습니다.');
                },
                error : function(request, status, error) {
                    alert(JSON.parse(request.responseText).message);
                }
            })
        }

        function signUp() {
            var memberName = $('#memberName').val();
            var email = $('#email').val();
            var password = $('#password').val();
            const params = {
                'memberName' : memberName,
                'email' : email,
                'password' : password
            }

            $.ajax({
                url : `/v1/auth/sign-up`,
                type : 'post',
                contentType : 'application/json; charset=utf-8;',
                dataType : 'json',
                data : JSON.stringify(params),
                success : function(response) {
                    alert('회원가입이 완료 되었습니다.');
                    location.replace(response.data['redirectURL']);
                },
                error : function(request, status, error) {
                    alert(JSON.parse(request.responseText).message);
                }
            })
        }

    </script>
</th:block>
</html>


