<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/event-stream; charset=utf-8"/>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label>예산을 확인해보시겠어요? </label>
                    <input id="memberId" placeholder="본인 id를 입력해주세요.">
                </div>
                <button id="send" class="btn btn-default" type="submit">Budget Alarm</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>


<script>

    var stompClient = null;

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversation").show();
        } else {
            $("#conversation").hide();
        }
        $("#greetings").html("");
    }

    function connect() {
        let socket = new SockJS('http://localhost:8080/ws-stomp');
        stompClient = Stomp.over(socket);
        const accessToken = document.cookie.split('access_token=')[1];

        stompClient.connect({"token" : accessToken}, function (frame) {
                                                        setConnected(true);
                                                        console.log('Connected: ' + frame);

                                                        stompClient.subscribe('/sub/' + memberId, function (data) {
                                                        const body = JSON.parse(data.body);
                                                        $('body').append(`${body.message}`);
                                                        });
                            });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendName() {
        stompClient.send("/app/v1/budget/alarm/" + $("#memberId").val(), {}, JSON.stringify({'memberId': $("#memberId").val()}));
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#connect" ).click(function() { connect(); }); // id가 connect 인 태그 클릭 -> 웹 소켓 연결
        $( "#disconnect" ).click(function() { disconnect(); }); // id가 disconnect 인 태그 클릭 -> 웹 소켓 연결 종료
        $( "#send" ).click(function() { sendName(); }); // 버튼 누르면 지정한 url 로 api 전송
    });

</script>
